<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProjetEncheresENI</display-name>
	<welcome-file-list>
		<welcome-file>Accueillir.java</welcome-file>
		<welcome-file>accueil</welcome-file>
	</welcome-file-list>

	<!-- /////////////////////////// SERVLET - ACCUEILLIR ////////////////////////// -->

	<servlet>
		<servlet-name>Accueillir</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.Accueillir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accueillir</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - CONNEXION ////////////////////////// -->

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - INSCRIPTION ////////////////////////// -->

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - DECONNEXION ////////////////////////// -->

	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - SERVLET TEST UTILISATEUR ////////////////////////// -->

	<servlet>
		<servlet-name>ServletTestsUtilisateur</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.tests.ServletTestsUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTestsUtilisateur</servlet-name>
		<url-pattern>/ServletTestsUtilisateur</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - SERVLET TEST ENCHERES ////////////////////////// -->

	<servlet>
		<servlet-name>ServletTestEnchere</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.tests.ServletTestEnchere</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletTestEnchere</servlet-name>
		<url-pattern>/ServletTestEnchere</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - SERVLET MISE EN VENTE ////////////////////////// -->

	<servlet>
		<servlet-name>MiseEnVente</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.MiseEnVente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiseEnVente</servlet-name>
		<url-pattern>/MiseEnVente</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - SERVLET SUPPRIMER MON COMPTE ////////////////////////// -->

	<servlet>
		<servlet-name>SupprimerMonCompte</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.SupprimerMonCompte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprimerMonCompte</servlet-name>
		<url-pattern>/SupprimerMonCompte</url-pattern>
	</servlet-mapping>
	
	
	<!-- /////////////////////////// SERVLET - SERVLET AfficherEncheresCourantes ////////////////////////// -->

	<servlet>
		<servlet-name>AfficherEncheresCourantes</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.AfficherEncheresCourantes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfficherEncheresCourantes</servlet-name>
		<url-pattern>/AfficherEncheresCourantes</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// SERVLET - SERVLET MODIFIERMONPROFIL ////////////////////////// -->

	<servlet>
		<servlet-name>ModifierMonProfil</servlet-name>
		<servlet-class>fr.eni.encheres.servlets.ModifierMonProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifierMonProfil</servlet-name>
		<url-pattern>/ModifierMonProfil</url-pattern>
	</servlet-mapping>

	<!-- /////////////////////////// JSP - PAGE ACCUEIL CONNECTE ////////////////////////// -->

	<servlet>
		<servlet-name>PageAccueilAnonyme</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageAccueilAnonyme.jsp</jsp-file>
	</servlet>

	<!-- /////////////////////////// JSP - PAGE ACCUEIL ANONYME ////////////////////////// -->

	<servlet>
		<servlet-name>PageAccueilConnecte</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageAccueilConnecte.jsp</jsp-file>
	</servlet>

	<!-- /////////////////////////// JSP - PAGE CONNEXION ////////////////////////// -->

	<servlet>
		<servlet-name>PageConnexion</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageConnexion.jsp</jsp-file>
	</servlet>


	<!-- /////////////////////////// JSP - PAGE ERREUR CONNEXION ////////////////////////// -->

	<servlet>
		<servlet-name>PageErreurConnexion</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageErreurConnexion.jsp</jsp-file>
	</servlet>

	<!-- /////////////////////////// JSP - PAGE INSCRIPTION ////////////////////////// -->

	<servlet>
		<servlet-name>PageInscription</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageInscription.jsp</jsp-file>
	</servlet>

	<!-- /////////////////////////// JSP - PAGE ERREUR INSCRIPTION ////////////////////////// -->

	<servlet>
		<servlet-name>PageErreurInscription</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageErreurInscription.jsp</jsp-file>
	</servlet>
	
	<!-- /////////////////////////// JSP - PAGE PAGEMODIFICATIONPROFIL ////////////////////////// -->

	<servlet>
		<servlet-name>PageModificationProfil</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageModificationProfil.jsp</jsp-file>
	</servlet>

	<!-- /////////////////////////// JSP - PAGE FORMULAIRE VENTE ////////////////////////// -->

	<servlet>
		<servlet-name>PageFormulaireVente</servlet-name>
		<jsp-file>/WEB-INF/jsp/PageFormulaireVente.jsp</jsp-file>
	</servlet>

<!-- /////////////////////////// PARAMETRES DE SESSION ////////////////////////// -->

	<session-config>
    <session-timeout>3600</session-timeout>
  </session-config>

</web-app>